@import 'tailwindcss';

@theme {
  --color-primary: #FFFFFF;
  --color-dark: #0B0D21;
  --color-dark-heading: #000000;
  --color-accent: #F6D330;

  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1200px;

  --font-alata: 'Alata', sans-serif;
  --font-sofia-pro: 'Sofia Pro', sans-serif;
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../public/fonts/sofia-pro/SofiaPro-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Sofia Pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../public/fonts/sofia-pro/SofiaPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../public/fonts/sofia-pro/SofiaPro-Bold.woff2') format('woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  color: var(--color-dark);
}

body {
  font-family: 'Sofia Pro', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

h1 {
  font-family: 'Alata', sans-serif;
  font-size: 115px;
}

h2 {
  font-family: 'Alata', sans-serif;
  font-size: 90px;
}