@import 'tailwindcss';

@theme {
  --color-primary: #FFFFFF;
  --color-dark: #0B0D21;
  --color-black: #000000;
  --color-accent: #F6D330;

  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1200px;

  --font-alata: 'Alata', sans-serif;
  --font-sofia-pro: 'Sofia Pro', sans-serif;
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../public/fonts/sofia-pro/SofiaPro-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Sofia Pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../public/fonts/sofia-pro/SofiaPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../public/fonts/sofia-pro/SofiaPro-Bold.woff2') format('woff2');
}

:root {
  color: var(--color-dark);
}

body {
  font-family: 'Sofia Pro', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

h1 {
  font-family: 'Alata', sans-serif;
  font-size: 115px;
  color: var(--color-primary);
  line-height: 130px;
}

h2 {
  font-family: 'Alata', sans-serif;
  font-size: 25px;
  color: var(--color-primary);
}

h3 {
  font-family: 'Alata', sans-serif;
  font-size: 90px;
}

h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
}

.custom-list {
  line-height: 20px;
  list-style: none;
}

.custom-list li {
  display: flex;
  gap: 15px;
  align-items: start;
}

.custom-list li::before {
  content: "";
  width: 6px;
  height: 6px;
  margin-top: 6px;
  background-color: var(--color-primary);
  flex-shrink: 0;
}