@import 'tailwindcss';

@theme {
  --color-primary: #FFFFFF;
  --color-dark: #0B0D21;
  --color-black: #000000;
  --color-accent: #F6D330;
  --color-silver: #dbdfe1;

  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1200px;

  --font-alata: 'Alata', sans-serif;
  --font-sofia-pro: 'Sofia Pro', sans-serif;
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../public/fonts/sofia-pro/SofiaPro-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Sofia Pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../public/fonts/sofia-pro/SofiaPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../public/fonts/sofia-pro/SofiaPro-Bold.woff2') format('woff2');
}

:root {
  color: var(--color-dark);
}

body {
  font-family: 'Sofia Pro', sans-serif;
  font-size: clamp(0.875rem, 0.82rem + 0.25vw, 1.125rem);
  line-height: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}


h1 {
  font-family: 'Alata', sans-serif;
  color: var(--color-primary);
  font-size: clamp(3.125rem, 2.31rem + 4.06vw, 7.1875rem);
  line-height: clamp(3.75rem, 2.88rem + 4.38vw, 8.125rem);
}

h2 {
  font-family: 'Alata', sans-serif;
  color: var(--color-primary);
  font-size: clamp(0.875rem, 0.74rem + 0.69vw, 1.5625rem);
  line-height: clamp(1.5625rem, 1.44rem + 0.63vw, 2.1875rem);
}

h3 {
  font-family: 'Alata', sans-serif;
  font-size: clamp(2.5rem, 1.88rem + 3.13vw, 5.625rem);
  line-height: clamp(2.5rem, 1.75rem + 3.75vw, 6.25rem);
}

h4, .text-contact {
  font-weight: 700;
  font-size: clamp(1.5625rem, 1.38rem + 0.94vw, 2.5rem);
  line-height: clamp(2.1875rem, 2.10rem + 0.44vw, 2.625rem);
}

.custom-list {
  line-height: 20px;
  list-style: none;
}

.custom-list li {
  display: flex;
  gap: 15px;
  align-items: start;
}

.custom-list li::before {
  content: "";
  width: 6px;
  height: 6px;
  margin-top: 6px;
  background-color: var(--color-primary);
  flex-shrink: 0;
}

.burger-menu-link {
  font-size: 40px;
}

@layer utilities {
  .anchor-offset {
    @apply scroll-mt-[88px] tablet:scroll-mt-[95px] desktop:scroll-mt-[98px];
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

